/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(230, 75, 75, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(170, 54, 54);
}
